/* Fonts Import */

@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Variables  */

:root {
  --pri-col: #005f5c;
  --sec-col: #e0eeee;
  --another-col: #b23813;
  --pri-font: "Hammersmith One", serif;
  --sec-font: "PT Sans", serif;
}

/* Styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 500px) {
  .cont {
    width: 70vw;
    padding: 5vw;
    border-radius: 2vw;
  }

  h1 {
    font-size: 4.1vw;
  }
  .cont .password-area {
    min-height: 25vh;
    padding: 2vw;
    gap: 5vw;
  }
  .password {
    height: 5vh;
    width: 100%;
    font-size: 3.5vw;
    font-weight: 600;
    border: 2px solid var(--pri-col);
    border-radius: 1.5vw;
  }
  .password-area button {
    padding: 10px 20px;
    font-size: 3vw;
    font-weight: 600;
    border-radius: 1.5vw;
  }
}

@media screen and (min-width: 1000px) {
  .cont {
    width: 50%;
    padding: 2vw;
    border-radius: 2vw;
  }

  h1 {
    font-size: 3vw;
  }
  .cont .password-area {
    min-height: 15vh;
    padding: 2vw;
    gap: 1vw;
  }
  .password {
    height: 5vw;
    font-size: 2vw;
    border: 2px solid var(--pri-col);
    border-radius: 0.5vw;
    width: 80%;
  }
  .password-area button {
    padding: 10px 20px;
    font-size: 1vw;
    font-weight: 500;
    border-radius: 0.5vw;
  }
}

.cont {
  height: auto;
  margin: auto;
  background-color: var(--sec-col);
  text-align: center;
}

.cont h1 {
  color: var(--pri-col);
  font-family: var(--pri-font);
  padding: 1vw;
}

.cont h1 span {
  border-bottom: 0.3vw solid var(--pri-col);
  animation: span 3s ease-in-out infinite;
}

@keyframes span {
  0%,
  100% {
    color: var(--pri-col);
  }
  50% {
    color: var(--another-col);
  }
}

.cont .password-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--sec-font);
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-area button {
  border: none;
  font-family: var(--sec-font);
}

.password-area button:first-child {
  background-color: var(--another-col);
  color: var(--sec-col);
}

.password-area button:nth-child(2) {
  background-color: var(--pri-col);
  color: var(--sec-col);
}
